@charset "UTF-8";
/* Colors */
/*Cards*/
/*Paddings*/
/*Margins*/
/*Dimensions*/
/*Transitions*/
/*Font-Sizes*/
/*Border-radius*/
/*Shadows*/
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin: 0 auto 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .section__title {
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.172;
  }
}

.button, .button--footer {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: white;
}

.button--footer {
  margin: 0 auto;
  cursor: auto;
}

@media (min-width: 1200px) {
  .button--footer {
    margin: 0 0 0 12px;
  }
}

.button, .button--footer, .social-media__list > li, .social-media__link, .advantages__thumb, .checkbox__item, .clients__link, .features__text, .modal__closeButton, .staffs-social, .staffs-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__icon {
  fill: currentColor;
}

.menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__item:hover, .menu__item:focus {
  color: #2196f3;
}

.menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile__closeIcon {
  fill: currentColor;
}

.mobile__menu {
  margin-bottom: 302px;
}

.mobile__menu li:not(:first-child) {
  margin-top: 32px;
}

.mobile__contacts {
  margin-bottom: 64px;
}

.mobile__contacts li:not(:first-child) {
  margin-top: 32px;
}

.mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mobile__social li:not(:first-child) {
  margin-left: 20px;
}

.mobile__social li:not(:first-child)::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contacts-list {
  display: none;
}

@media (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list::before {
  content: ' ';
  fill: currentColor;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts-list li:not(:first-child) {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts-list li:not(:first-child) {
    margin-left: 30px;
    /*between contacts-items*/
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #757575;
}

@media (min-width: 1200px) {
  .contacts-list__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__icon:hover, .contacts-list__icon:focus {
  fill: #2196f3;
}

.footer-contacts__item {
  margin-top: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding: 16px 0;
}

@media (min-width: 768px) {
  .logo {
    padding: 26px 0;
  }
}

@media (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.174;
  }
}

.logo--secondpartheader {
  color: black;
}

.logo--secondpartfooter {
  color: white;
}

.logo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .logo__footer {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .logo__footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.page-footer {
  background-color: #2f303a;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .page-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .page-footer__address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.page-footer__text {
  color: white;
}

.page-footer__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .page-footer__thumb {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .page-header__container {
    height: 80px;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-menu {
  display: none;
}

@media (min-width: 768px) {
  .page-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .page-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    /*between logo and menu*/
  }
}

.page-menu li:not(:first-child) {
  margin-left: 50px;
  /*between menu-items*/
}

.page-menu__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #212121;
}

.page-menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
}

.page-menu .page-menu__link.current {
  color: #2196f3;
}

.page-menu .page-menu__link.current::after {
  opacity: 1;
}

.page-menu__link:hover, .page-menu__link:focus {
  color: #2196f3;
}

.social-media {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .social-media {
    margin-top: 0;
    margin-left: 165px;
  }
}

@media (min-width: 1200px) {
  .social-media {
    margin-left: 70px;
  }
}

.social-media__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 1200px) {
  .social-media__title {
    text-align: left;
  }
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__list li:not(:first-child) {
  margin-left: 10px;
}

.social-media__icon {
  fill: white;
}

.social-media__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .subscribe__form {
    margin-top: 0;
    margin-left: 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.subscribe__input {
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: white;
}

@media (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__label {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 480px) {
  .subscribe__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .subscribe__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 570px;
  }
}

.subscribe__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 10px;
  fill: currentColor;
}

.card-set {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 60px;
}

@media (min-width: 480px) {
  .card-set > .card-set__card {
    -ms-flex-preferred-size: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .card-set > .card-set__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .card-set {
    padding: 0 0 94px;
  }
  .card-set > .card-set__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.card-set__card {
  border: 1px solid #eeeeee;
}

.card-set__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.card-set__link:hover .overlay,
.card-set__link:focus .overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__content {
  padding: 20px 24px;
}

.card-set__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-set__text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-set__thumb {
  height: 294px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 480px) {
  .card-set__thumb {
    max-width: 450px;
  }
}

.card-set__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-projects__content {
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .menu-projects__content {
    padding-top: 94px;
  }
}

.menu-projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .menu-projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.menu-projects__item {
  margin-right: 8px;
}

.menu-projects__item:not(:first-child) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .menu-projects__item:not(:first-child) {
    margin-left: 8px;
  }
}

.menu-projects__btn {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  color: #212121;
}

.menu-projects__btn:hover, .menu-projects__btn:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  /*При 100% видно синюю полосу спрятанного элемента при некоторых значениях масштаба*/
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .overlay {
    padding: 77px 24px;
  }
}

@media (min-width: 768px) {
  .overlay {
    padding: 49px 24px;
  }
}

@media (min-width: 1200px) {
  .overlay {
    padding: 63px 24px;
  }
}

.overlay__text {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: white;
}

.advantages {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
}

.advantages__thumb {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .advantages__thumb {
    max-width: 354px;
  }
}

.advantages__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .advantages__title {
    font-size: 14px;
    line-height: 1.172;
  }
}

.advantages__text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

@media (min-width: 1200px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    margin: 0 auto;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__list > .advantages__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
}

.advantages__item {
  max-width: 450px;
}

@media (min-width: 768px) {
  .advantages__item {
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    max-width: 270px;
  }
}

@media (min-width: 1200px) {
  .advantages__item:not(:first-child) {
    margin-left: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
}

.checkbox__label {
  position: relative;
  padding-left: 24px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.714;
    padding-left: 36px;
  }
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__input + .checkbox__item {
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__item {
  fill: white;
  background-color: #2196f3;
  border: none;
  border-radius: 2px;
}

.checkbox__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
}

@media (min-width: 1200px) {
  .checkbox__item {
    top: 5px;
    left: 13px;
  }
}

.checkbox__link {
  display: inline-block;
  line-height: 0.85;
  /* Отрегулировала самостоятельно для вида, согласно макету*/
  border-bottom: 1px solid currentColor;
  color: #2196f3;
}

.clients__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media (min-width: 1200px) {
  .clients__list {
    margin: 50px 0 0;
  }
  .clients__list li:not(:first-child) {
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .clients__list > li {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.clients__link {
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}

@media (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.features {
  display: none;
}

@media (min-width: 1200px) {
  .features {
    display: block;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 0;
}

.features__list li:not(:first-child) {
  margin-left: 30px;
}

.features__item {
  position: relative;
}

.features__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__label {
  position: relative;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__label:not(:first-child) {
  margin-top: 10px;
}

.form__container {
  position: relative;
  top: 0;
  left: 0;
}

.form__container:focus-within {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.form__input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.form__input:focus {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2196f3;
}

@media (min-width: 480px) {
  .form__input {
    width: 100%;
  }
}

.form__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #212121;
}

.form__textarea {
  width: 100%;
  padding: 12px 16px;
  display: block;
  letter-spacing: 0.01em;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.form__textarea:focus {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2196f3;
  color: black;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.hero {
  height: 400px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Mobile/hero480@1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Mobile/hero480@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Mobile/hero480@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Mobile/hero480@2x.jpg");
  }
}

@media (min-width: 577px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Tablet/hero768@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Tablet/hero768@1x.jpg");
  }
}

@media (min-width: 577px) and (min-device-pixel-ratio: 2), (min-width: 577px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 577px) and (min-resolution: 192dpi), (min-width: 577px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Tablet/hero768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Tablet/hero768@2x.jpg");
  }
}

@media (min-width: 961px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Desktop/hero1200@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Desktop/hero1200@1x.jpg");
  }
}

@media (min-width: 961px) and (min-device-pixel-ratio: 2), (min-width: 961px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 961px) and (min-resolution: 192dpi), (min-width: 961px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Desktop/hero1200@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Desktop/hero1200@2x.jpg");
  }
}

.hero__title {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  font-size: 26px;
  line-height: 1.615;
  width: auto;
}

@media (min-width: 440px) {
  .hero__title {
    width: 360px;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__container {
  position: relative;
  margin: 0 auto;
  width: auto;
  padding: 118px 15px;
}

@media (min-width: 360px) {
  .hero__container {
    width: 360px;
    padding: 118px 0;
  }
}

@media (min-width: 1200px) {
  .hero__container {
    width: 696px;
    padding: 200px 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  height: 609px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__closeIcon {
  fill: currentColor;
}

.modal__closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: black;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.modal__closeButton:hover, .modal__closeButton:focus {
  color: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.staff {
  background-color: #f5f4fa;
}

.staff__card {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

@media (min-width: 1200px) {
  .staff__card {
    padding-bottom: 30px;
  }
}

.staff__title {
  margin: 30px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (min-width: 1200px) {
  .staff__title {
    font-size: 16px;
    line-height: 1.172;
  }
}

.staff__text {
  margin: 10px auto 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1200px) {
  .staff__text {
    font-size: 16px;
    line-height: 1.172;
  }
}

.staff__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: -30px;
  margin-top: -30px;
}

@media (max-width: 1199px) {
  .staff__list > .staff__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .staff__list {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .staff__list > .staff__card {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .staff__list li:not(:first-child) {
    margin-left: 30px;
  }
}

.staff__thumb {
  max-width: 450px;
  max-height: 460px;
  position: relative;
}

@media (min-width: 480px) {
  .staff__thumb {
    height: 460px;
    width: 450px;
  }
}

@media (min-width: 768px) {
  .staff__thumb {
    height: 374px;
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .staff__thumb {
    height: 260px;
    width: 270px;
  }
}

.staff__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.staffs-social {
  padding-right: 32px;
  padding-left: 32px;
  margin-top: 16px;
}

.staffs-social__icon {
  fill: currentColor;
}

.staffs-social__link {
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.staffs-social__link:hover, .staffs-social__link:link:focus {
  background-color: #2196f3;
  color: white;
}

.staffs-social li:not(:first-child) {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */