.checkbox {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.checkbox__label {
    position: relative;
    padding-left: 24px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: $textGrey;

    @media (min-width: 1200px) {
        font-size: $standartFontSize;
        line-height: 1.714;
        padding-left: 36px;
    }
}

.checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    // &:focus + .checkbox__item {
    //     outline: 1px solid $accentColor;
    // }

    & + .checkbox__item {
        fill: none;
        border: 2px solid $textDarkGrey;
        border-radius: $checkboxBorderRadius;
    }

    &:checked + .checkbox__item {
        fill: $elementWhite;
        background-color: $accentColor;
        border: none;
        border-radius: $checkboxBorderRadius;
    }
}

.checkbox__item {
    @extend %flex-center;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;

    @media (min-width: 1200px) {
        top: 5px;
        left: 13px;
    }
}

.checkbox__link {
    display: inline-block;
    line-height: 0.85; /* Отрегулировала самостоятельно для вида, согласно макету*/
    border-bottom: 1px solid currentColor;
    color: $accentColor;
}
