.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $elementWhite;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 480px) {
        width: 450px;
    }

    @media (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__closeIcon {
    fill: currentColor;
}

.modal__closeButton {
    @extend %flex-center;
    position: absolute;
    top: 8px;
    right: 8px;
    fill: $elementBlack;
    width: 30px;
    height: 30px;
    border: 1px solid $closeButtonBorder;
    border-radius: 50%;
    background-color: $elementWhite;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.modal__title {
    margin-bottom: 12px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textDarkGrey;
    font-size: 20px;
    line-height: 30px;

    @media (min-width: 1200px) {
        font-size: $modalFontSize;
        line-height: 1.15;
    }
}
