.staffs-social {
    @extend %flex-center;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 16px;
}

.staffs-social__icon {
    fill: currentColor;
}

.staffs-social__link {
    @extend %flex-center;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $iconGrey;
    transition: color $transitionCommon;

    &:hover,
    &:link:focus {
        background-color: $accentColor;
        color: $elementWhite;
    }
}

.staffs-social li:not(:first-child) {
    margin-left: $beetweenItemsMargin10;
}
