.logo {
    display: inline-block;
    font-family: $logofont;
    font-size: $logoSmallFontSize;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: $accentColor;
    padding: 16px 0;

    @media (min-width: 768px) {
        padding: 26px 0;
    }

    @media (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: $logoBigFontSize;
        line-height: 1.174;
    }

    &--secondpartheader {
        color: $elementBlack;
    }

    &--secondpartfooter {
        color: $elementWhite;
    }

    &__footer {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            padding: 0;
        }
        @media (min-width: 1200px) {
            justify-content: flex-start;
        }
    }
}
