.page-footer {
    background-color: $backgroundSection;
}

.page-footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.page-footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: $standartFontSize;
    line-height: 1.714;
    letter-spacing: 0.03em;

    @media (min-width: 1200px) {
        align-items: flex-start;
    }
}

.page-footer__text {
    color: $textWhite;
}

.page-footer__thumb {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}
